<%-body%>

<script src="//code.tidio.co/9lxpkhizxm5apvaev5c5cgo8gyoxbskh.js" async></script>

<div class="mgm" style="display: none;">
    <div class="txt" style="color:black;">
        Someone from <b>South Africa</b> just Won 
        <strong href="javascript:void(0);" onclick="javascript:void(0);">
            R1000 
        </strong>
    </div>
</div>

<script type="text/javascript">
    var listCountries = ['South Africa', 'Germany', 'Cape Town', 'Johannesburg', 'Pretoria', 'United States'];
    var listPlans = ['R2,300,325','R5,122,344,','R9,450,050','R6,455,560','R11,032,472','R5,432,208','R4,940,100', 'R3,543,223', 'R7,800,000', 'R13,222,390'];
    interval = Math.floor(Math.random() * (30000 - 8000 + 1) + 8000);
    var run = setInterval(request, interval);

    function request() {
        clearInterval(run);
        interval = Math.floor(Math.random() * (30000 - 8000 + 1) + 8000);
        var country = listCountries[Math.floor(Math.random() * listCountries.length)];
        var plan = listPlans[Math.floor(Math.random() * listPlans.length)];
        var msg = 'Someone from <b>' + country + '</b> just Won <strong href="javascript:void(0);" onclick="javascript:void(0);">' + plan + ' </strong>';
        $(".mgm .txt").html(msg);
        $(".mgm").stop(true).fadeIn(2);
        window.setTimeout(function() {
            $(".mgm").stop(true).fadeOut(100);
        }, 8000);
        run = setInterval(request, interval);
    }
</script>

<style>
    .mgm {
        border-radius: 7px;
        position: fixed;
        z-index: 90;
        bottom: 5px;
        left: 10px;
        background: #fff;
        padding: 10px 27px;
        box-shadow: 0px 5px 13px 0px rgba(0,0,0,.3);
    }
    .mgm a {
        font-weight: 700;
        display: block;
        color:#f2d516;
    }
    .mgm a, .mgm a:active {
        transition: all .2s ease;
        color:#f2d516;
    }
</style>