<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSRF Token -->
    <meta name="csrf-token" content="hX9IFpPOmQE6xMLs5cY4qsO6NXJsEIgsnAToPvTZ">

    <title>Securecryptotradingfx</title>

    <!-- Scripts -->
    <script src="/js/app.js" defer></script>

    <!-- Fonts -->
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

    <!-- Styles -->
    <link href="/css/app.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style type="text/css">

     body
    {
   font-family: sans-serif!important;
    }

    #register-page
    {
      background:url('https://img.etimg.com/thumb/msid-87209465,width-1200,height-900/markets/cryptocurrency/cryptocurrency-is-gaining-worldwide-acceptance-here-are-5-reasons-why.jpg'); background-size: cover; background-repeat: no-repeat;
      min-height: 100vh; background-position: left;
    }

  

    #registerFormField
    {
      background:#000111;
      border-radius: 20px;
      opacity: 0.9;
    }

     select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
 input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
form .form-control:focus,
.uneditable-input:focus,.uneditable-select:focus,.uneditable-textarea:focus {   
  border-color:#000111;
  box-shadow: 0 0px 0px ;
  outline: 0 none;
  background: #eee;
}
        .register{
         
            border-radius: 20px;
            
        }
        .register h2{
            font-size: 20px;
            font-weight: bolder;
            color:#FFF;
            line-height: 1.2em;
            font-style: italic;
        }
        .register label{
            font-weight: bolder;
            color: #fff;

        }
        .register button {
            background: gold;
            border-radius: 10px;
            color: #000000;
            font-weight: bolder;
        }
        .register input,  .register select{
            border-radius: 10px;
            padding-left: 40px;
            background: #EEE;
            color: #000001;
            font-weight: bolder;
        }
        .register .icon
        {
            font-size: 20px;
            position: absolute;
            padding: 10px;
            font-weight: bolder;
            color: #000011;
         
        }
   
    SCSS JSResult Skip Results Iframe
EDIT ON

// .goog-te-banner-frame {display:none;} // Don't show Google Topbar
// #goog-gt-tt {display:none!important;visibility:hidden!important;}

#google_translate_element {
  position: absolute;
 top: 50px;
  right: 16px!important;
  // z-index: 99999;
}
.goog-te-gadget {
  font-family: Roboto, 'Open Sans', sans-serif!important;
  text-transform: uppercase;
}

.goog-te-menu2 {
  max-width: 100%;
}
.goog-te-menu-value {
  color: #fff !important;
    &:before {
    font-family: 'Material Icons';
    content: "\E927";
    margin-right: 56px;
      font-size: 12px;
    vertical-align: -10px;
    // width:32px!important;

  } 
}
.goog-te-menu-value span:nth-child(5) {
  display:none;
}
.goog-te-menu-value span:nth-child(3) {
  border:none!important;
  font-family: 'Material Icons';
  &:after {
    font-family: 'Material Icons';
    content: "\E5C5";
    font-size: 1.5rem;
    vertical-align: -6px;
  }  
}

.goog-te-gadget-icon {
    background-image: url(https://placehold.it/32)!important;
    background-position: 0px 0px;
    height: 32px!important;
    width: 32px!important;
    margin-right: 8px!important;
    //     OR
    display: none;
}

// ============ HIDE TOP BAR ============ 
.goog-te-banner-frame.skiptranslate {display: none !important;} 

.goog-te-banner-frame.skiptranslate {display: none!important;} 
body {top: 0px!important;}

 #google_translate_element select {
 

  background: #000011!important;
 color: #fff!important;
 border-radius: 10px!important;
 padding:1px;
 border:#fff 1px solid!important;




}

/* ================================== *\
    Mediaqueries
\* ================================== */
@media (max-width: 667px) {
  #google_translate_element {
    bottom: calc(100% - 50% - 53px);
    left: 40px!important;
    width: 150px!important;
}
    .goog-te-gadget {
      width:100%!important;
    }
    .skiptranslate {
      width:100%!important;     
    }
   


  }
  #google_translate_element { height: 26px !important; overflow: hidden !important; }
@media(max-width: 1025px)
{
    #google_translate_element {
  position: absolute;
 top: 10%;

  left: 35%!important;
margin-top: 10px;
z-index: 1000000;


}
.goog-te-gadget-simple   {
  background-color: navy!important;
  border: 1px solid rgba(255,255,255,0.50) !important;
  padding: 1px!important;
  border-radius: 10px!important;
  font-size: 12px!important;
  width: 100%!important;
  display:block!important;
  height: 30px;
  cursor: pointer;
  zoom: 1;
  text-align: center;
}
.goog-te-gadget-simple  div
{
    background: navy!important;
}
}
}

    </style>
</head>
<body>
    <div id="app">
     <div id="google_translate_element">
       

    </div>
        <main class="">
            
<div class="container-fluid" id="register-page">
    <div class="row register pt-5">

        <div class="col-md-4 offset-md-6">
            <div class="card" id="registerFormField">
                <div class="header text-center p-4"><h2>Login</h2></div>

                <div class="card-body">
                <div class="text-center">
                  <a class="btn btn-link text-warning" href="#">
                                        Forgot Your Password?
                                    </a>
                                </div>
                    <form method="POST" class="col-md-8 offset-md-2">
                      <%-include("./partials/messages")%>

                        <div class="form-group row">
                        <div class="col-md-12">
                            <label for="email" class=" col-form-label ">E-Mail</label>
                            </div>
                            <div class="col-md-12">
                                 <i class="fa fa-envelope icon"></i>
                                <input id="email" type="email" class="form-control " name="email" value="" required autocomplete="email" autofocus>

                                                            </div>
                      </div>
                        <div class="form-group row">
                        <div class="col-md-12">
                            <label for="password" class=" col-form-label ">Password</label>
                            </div>
                            <div class="col-md-12">
                               <i class="fa fa-lock icon"></i>
                                <input id="password" type="password" class="form-control " name="password" required autocomplete="current-password">

                                                            </div>
                        </div>

                        <div class="form-group row">
                        
                                <div class="form-check">
                                <div class="col-md-12">
                                    <input class="form-check-input" type="checkbox" name="remember" id="remember" >

                                    <label class="form-check-label" for="remember">
                                        Remember Me
                                    </label>
                                </div>
                                </div>
                          
                        </div>

                        <div class="form-group row mb-0">
                        <div class="col-md-12">
                                <button type="submit" class="btn btn-0 btn-block text-white">
                                    Login
                                </button>

                               
                            </div>
                           
                            </div>
                              <div class="text-center mt-5 text-white">
                      <p>I Don`t  Have An Account <a href="/register" class="text-warning">Sign Up</a> </p>
                    </div>
                    
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
        </main>
    </div>

</body>
</html>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: false,   autoDisplay:false}, 'google_translate_element');
}


</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
      