
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <!-- CSRF Token -->
  <meta name="csrf-token" content="8CH2z1fdgYeRGZXMRUwp8ZaXNpuf4lgiuahI2RW5">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pureforexcrypto | Update Profile</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/admins/plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Tempusdominus Bootstrap 4 -->
  <link rel="stylesheet" href="/admins/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="/admins/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- JQVMap -->
  <link rel="stylesheet" href="/admins/plugins/jqvmap/jqvmap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/admins/dist/css/adminlte.min.css">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="/admins/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="/admins/plugins/daterangepicker/daterangepicker.css">
  <!-- summernote -->
  <link rel="stylesheet" href="/admins/plugins/summernote/summernote-bs4.min.css">

   <link rel="stylesheet" href="/admins/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/admins/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="/admins/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">



   <link rel="shortcut icon" type="image/x-icon" href="/storage/photos/0.32651600 1644096771467FB542-CA20-48DB-9024-AE750788CBB5.jpeg" />
  
  <style type="text/css">
    .card h5 span{
      font-size: 15px; font-weight: bold; font-style: italic; letter-spacing: 1px;
    }
  </style>
  <style type="text/css">


           .whatsapp{
  font-size: 52px;
}
    @media (max-width: 1025px)
    {         .whatsapp{
  font-size: 32px;
}
}
 .icon{font-size:32px;}
.active_dashboard_menu{background:#000080; color:#000;}
.active_user_sub_menu{color:red;}

.upgrade{
  width: 100vw;
  height: 100vh;
  opacity: .7;
  z-index: 1;
  background: #000;
}


  .roundInput
{
  border-radius: 20px!important;
border: #4caf50 1px solid!important;
}
.roundButton
{
    border-radius: 20px!important;
}
.p_header
{
  border-bottom: 1px solid#fff;
}

  #acc_btn
  {
    background:0;
    border: 0px solid #fff;
    color: gold;
    
    padding: 2px;

  }

   #sidebar,#main_header,.main-footer{
      background: #fff!important;
      opacity: 0.99!important;
     
    }

     #sidebar{

       border-right: 5px solid 005B96!important;

         border-top: 5px solid 005B96!important;
            border-left: 5px solid 005B96!important;
     }
 #main_header{
      background: #011F4B!important;
      opacity: 0.99!important;
     
    }


    #main_header{
      margin-top: -24px!important;
     
    }
    .nav-item .nav-icon,.nav-item .right
    {
      color:purple!important;
    }
     #sidebar .nav-item
    {
      min-height: 60px!important;
      padding-top: 10px!important;
      border-bottom: 1px #4caf50 solid!important;
      
        box-shadow:border-box!important;

    }

      #sidebar .nav-item a p
    {
        color: #4caf50!important;
        font-size: 13px;
        font-weight: bolder;
       
    }
    #message_count
    {
      font-size: 32px;
    }
     #user_icon
    {
      font-size: 22px;
    }
    #user_badge
    {
      border-left: 0px solid #000041;
      border-right: 0px solid #000041;
    }


     #message_counter
    {
      border-radius: 50%;
      background:#4caf50!important;
      padding: 8px;
      color: #fff;
      margin-top: -10px;
    }
    .brand-link
    {
      border-bottom: 0!important;
    }
     .main-footer
    {
      color: #000!important;
    }
    .sidebar{
      height: 80vh!important;
    }
.content_wrapper{

  background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 35%, rgba(227,8,174,1) 100%)!important;
}

    #sidebar .active
    {
      background:#000011!important;

    }
    @media (max-width: 1025px)
    {
  #notificationsIcon
    {
      padding: 20px;
      padding-top: 30px;
      padding-bottom: 30px;

    }

    #message_counter
    {
     border-radius: 50%;
      background: #fff!important;
      padding: 8px;
      margin-top: -10px;
      margin-right: 37vw;
    }

       #sidebar .nav-item
    {
      min-height:30px!important;
      padding-top: 4px!important;
      border-bottom: 1px #005B96 solid!important;
        border-top: 1px #005B96 solid!important;
        box-shadow:border-box!important;

    }
    }


    .goog-te-banner-frame {display:none;} // Don't show Google Topbar
// #goog-gt-tt {display:none!important;visibility:hidden!important;}

#google_translate_element {

  right: 16px!important;
  // z-index: 99999;
}
.goog-te-gadget {
  font-family: Roboto, 'Open Sans', sans-serif!important;
  text-transform: uppercase;
}

.goog-te-menu2 {
  max-width: 100%;
}
.goog-te-menu-value {
  color: #fff !important;
    &:before {
    font-family: 'Material Icons';
    content: "\E927";
    margin-right: 56px;
      font-size: 12px;
    vertical-align: -10px;
    // width:32px!important;

  } 
}
.goog-te-menu-value span:nth-child(5) {
  display:none;
}
.goog-te-menu-value span:nth-child(3) {
  border:none!important;
  font-family: 'Material Icons';
  &:after {
    font-family: 'Material Icons';
    content: "\E5C5";
    font-size: 1.5rem;
    vertical-align: -6px;
  }  
}

.goog-te-gadget-icon {
    background-image: url(https://placehold.it/32)!important;
    background-position: 0px 0px;
    height: 32px!important;
    width: 32px!important;
    margin-right: 8px!important;
    //     OR
    display: none;
}
 #google_translate_element select {
 

  background: #fff!important;
 color: #000!important;
 border-radius: 10px!important;
 padding:1px;




}

// ============ HIDE TOP BAR ============ 
.goog-te-banner-frame.skiptranslate {display: none !important;} 

.goog-te-banner-frame.skiptranslate {display: none!important;} 
body {top: 0px!important;}

/* ================================== *\
    Mediaqueries
\* ================================== */
@media (max-width: 667px) {
  #google_translate_element {
    bottom: calc(100% - 50% - 53px);
    left: 70px!important;
    width: 150px!important;
}
    .goog-te-gadget {
      width:100%!important;
    }
    .skiptranslate {
      width:100%!important;     
    }
   


  }
  #google_translate_element { height: 26px !important; overflow: hidden !important; }
@media(max-width: 1025px)
{
    #google_translate_element {
 


  margin-left: 30vw!important;
 
  // z-index: 99999;



}

 #google_translate_element select {
 

  background: #000011!important;
 color: #fff!important;
 border-radius: 10px!important;




}
.goog-te-gadget-simple   {
  background-color: navy!important;
  border: 1px solid rgba(255,255,255,0.50) !important;
  padding: 1px!important;
  border-radius: 10px!important;
  font-size: 12px!important;
  width: 100%!important;
  display:block!important;
  height: 30px;
  cursor: pointer;
  zoom: 1;
  text-align: center;
}
.goog-te-gadget-simple  div
{
    background: navy!important;
}
}
}



  </style>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Preloader -->
  !<!--<div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="/design_image/icon.png" alt="AdminLTELogo" height="60" width="60">
  </div>-->
  
<!-- Navbar -->
<nav class="main-header navbar navbar-expand-md  shadow-sm" id="main_header">
 <div class="container">
  <!-- Left navbar links -->
  <ul class="navbar-nav ">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars text-white"></i></a>
    </li>


  </ul>
  <ul class="navbar-nav ">
   <li class="nav-item">
    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
      <i class="fas fa-expand-arrows-alt text-warning"></i>
    </a>
  </li>

</ul>
 <ul class="navbar-nav ">
<button class="btn-0 " id="acc_btn">
  MINI
</button>
</ul>
<ul class="navbar-nav ">
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="fa fa-bars text-success"></span>
</button>


</ul>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">
    <!-- Navbar Search -->
    <li class="nav-item">
        <!--<a class="nav-link" data-widget="navbar-search" href="#" role="button">
          <i class="fas fa-search"></i>
        </a>-->
        <div class="navbar-search-block">
          <form class="form-inline">
            <div class="input-group input-group-sm">
              <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
              <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                  <i class="fas fa-search"></i>
                </button>
                <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </li>



   <!-- Notifications Dropdown Menu -->
   <li class="nav-item dropdown text-center" id="notificationsIcon">
    <a class="nav-link"  href="/message">
      <i class="far fa-bell text-white " id="message_count"></i>
      <span class="badge badge-warning navbar-badge" id="message_counter">0</span>
    </a>

  </li>


  <!-- Notifications Dropdown Menu -->
  <li class="nav-item dropdown text-center" id="user_badge">
    <a class="nav-link d-flex align-items-center justify-content-center pt-3" data-toggle="dropdown" href="#">
      <p><i class="far fa-user text-warning mr-2" id="user_icon"></i></p>
      <p class="text-white small" > 
      Godwin Nicholas
       <br>REG ID:  
      XnwX7Eslh73M
      </p>
    </a>
    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right p-3">
           <p>Status: <span class="text-warning">Verified</span></p
                        </div>
    </li>

       <li class="nav-item dropdown text-center" id="notificationsIcon">
        <div id="google_translate_element" class="text-center">
         

     </div>
   </li>

      <!--
      <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
          <i class="fas fa-th-large text-success"></i>
        </a>
      </li>
    -->
  </ul>


</div>

</div>
</nav>
  <!-- /.navbar -->



 
  <!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4 pt-4 pb-4" id="sidebar">
  <!-- Brand Logo -->
  <a href="/home" class="brand-link text-center">
    <img src="https://image.freepik.com/free-vector/bitcoin-golden-logo_48369-12177.jpg" alt="Logo" class="" width="100"  style="border-radius: 50%;">
    
  </a>

  <!-- Sidebar -->
  <div class="sidebar">


    <!-- Sidebar Menu -->
    <nav class="mt-2 mb-5">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false" >
          <!-- Add icons to the links using the .nav-icon class
          with font-awesome or any other icon font library -->
          
                        <li class="nav-item menu-open">
            <a href="/home" class="nav-link ">
              <i class="nav-icon fas fa-home"></i>
              <p>
                Dashboard

              </p>
            </a>
          </li>

          <!-- <li class="nav-item ">
            <a href="/" class="nav-link ">
              <i class="nav-icon fas fa-bars"></i>
              <p>
                Live Trade
               
              </p>
            </a>
          </li>-->


        

          <li class="nav-item">
            <a href="/investment" class="nav-link">
              <i class="nav-icon fas fa-credit-card"></i>
              <p>
               Investment
               
             </p>
           </a>
         </li>
         

         <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-money"></i>
            <p>
              Deposit
              <i class="fas fa-angle-left right"></i>

            </p>
          </a>
          
          <ul class="nav nav-treeview " >

           <li class="nav-item">
            <a href="/topup" class="nav-link">
              <i class="nav-icon far fa-circle"></i>
              <p>
               Top Up
               
             </p>
           </a>
         </li>
         <li class="nav-item">
          <a href="/deposit_history" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>History</p>
          </a>
        </li>



      </ul>
    </li> 




    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="nav-icon fas fa-address-book"></i>
        <p>
          Manage Withdraw
          <i class="fas fa-angle-left right"></i>

        </p>
      </a>

      <ul class="nav nav-treeview " >
        <li class="nav-item">
          <a href="/withdraw" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Withdraw</p>
          </a>
        </li>


        <li class="nav-item">
          <a href="/withdrawal_settings" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Settings</p>
          </a>
        </li>

      </ul>
    </li> 


    <li class="nav-item">
      <a href="/upgrade" class="nav-link">
        <i class="nav-icon fas fa-level-up-alt"></i>
        <p>
          Upgrade Account

        </p>
      </a>
    </li>


    <li class="nav-item">
      <a href="/trade-returns" class="nav-link">
        <i class="nav-icon fas fa-fw fa-money"></i>
        <p>
          Returns

        </p>
      </a>
    </li>






    <li class="nav-item">
      <a href="/message" class="nav-link">
        <i class="nav-icon fas fa-fw fa-envelope"></i>
        <p>
         Message

       </p>
     </a>
   </li>




       <!--    <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-fw fa-check"></i>
              <p>
           Account verified
               
              </p>
            </a>
          </li>
        -->

        <li class="nav-item">
          <a href="/support" class="nav-link">
            <i class="nav-icon fas fa-fw fa-comment"></i>
            <p>
             Customer support

           </p>
         </a>
       </li>

       <li class="nav-item">
        <a href="/profile" class="nav-link">
          <i class="nav-icon fas fa-fw fa-user"></i>
          <p>
            Profile

          </p>
        </a>
      </li>



      

      <li class="nav-item">
        <a href="/referral" class="nav-link">
          <i class="nav-icon fas fa-fw fa-child"></i>
          <p>
            Referrals


          </p>
        </a>
      </li>
      
      


<li class="nav-item">
  <a href="#" class="nav-link" onclick="logout()">
    <i class="nav-icon fa fa-power-off text-danger"></i>
    <p>Logout</p>
  </a>
</li>

</ul>

</nav>
<!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->
</aside>

<script type="text/javascript">
  function logout()
  {
    if(confirm("Are You sure you want to logout?"))
    {



     $.ajax({
      method:'POST',

      url: "https://acc.pureforexcrypto.com/logout",

      data:'',
      cache : false,
      contentType: false,
      processData: false,
      headers: {

        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content'),

      },
      success: (response) => {
        window.location.href='/';   

      },
      error: function(response){
        $(document).Toasts('create', {
          class: 'bg-danger',
          title: ' error message',
          subtitle: '',
          autohide:true,
          delay: 3000,
          fade:true,
          body:'failed',
        })


      },



    });
   }
 }
</script>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper ">

  
   <!-- top tiles -->
          <div class="container-fluid" style="background: #04396D;">
          <div class="row tile_count">
            <div class="col-md-2 col-sm-4 col-6 tile_stats_count p-2">
            <div class="card p-3 bg-navy">
              <span class="count_top"><i class="fa fa-money"></i> Balance</span>
              <div class="count" style="">R 18000.00</div>
              <span class="count_bottom"><i class="text-success">Available </i> Balance</span>
              </div>
            </div>
            <hr>
            <div class="col-md-2 col-sm-4 col-6 tile_stats_count p-2">
             <div class="card p-3 bg-secondary">
              <span class="count_top"><i class="fa fa-clock-o"></i> Invested</span>
              <div class="count" style="">R 3000</div>
              <span class="count_bottom"><i class="text-warning"><i class="fa fa-sort-asc"></i>Trade</i> Ongoing</span>
              </div>
            </div>
            <div class="col-md-2 col-sm-4 col-6 tile_stats_count p-2">
             <div class="card p-3 bg-navy">
              <span class="count_top"><i class="fa fa-shield"></i> Account Type</span>
              <div class="count text-success bolder" style="font-weight: bolder;"> MINI</div>
              <span class="count_bottom"><i class="text-success"><i class="fa fa-sort-asc"></i>Trade </i> Account Type</span>
              </div>
            </div>
                        <div class="col-md-2 col-sm-4 col-6 tile_stats_count p-2">
             <div class="card p-3 bg-dark">
              <span class="count_top"><i class="fa fa-level-up"></i> Account Status</span>
              <div class="count" style=" color: red; font-weight: bolder;"> Verified</div>
              <span class="count_bottom" style="color: red;"> Active</span>
              </div>
            </div>
                        <div class="col-md-2 col-sm-4 col-6 tile_stats_count p-2">
             <div class="card p-3 bg-navy">
              <span class="count_top"><i class="fa fa-arrow-down"></i> Total Withdrawals</span>
              <div class="count" style="">R 1000</div>
              <span class="count_bottom"><i class="text-success"><i class="fa fa-sort-asc"></i>Withdrawals </i> </span>
              </div>
            </div>
            <div class="col-md-2 col-sm-4 col-6 tile_stats_count p-2" style="border-right: 0;">
             <div class="card p-3 bg-dark">
              <span class="count_top"><i class="fa fa-credit-card"></i> Total Profit</span>
              <div class="count" style="">R  0</div>
              <span class="count_bottom"><i class="text-success"><i class="fa fa-sort-asc"></i>32% </i> From last Week</span>
              </div>
            </div>
          </div>
          </div>

          <!-- /top tiles -->

             <div class="container-fluid" >

               <div style="position: fixed; right: 0; bottom: 10%; font-size: 30px; z-index: 1000;"></div>
<section >
    
        <div class="container">

  
    <section wire:id="1CN19RrycP4Miv152bCd" wire:initial-data="{&quot;fingerprint&quot;:{&quot;id&quot;:&quot;1CN19RrycP4Miv152bCd&quot;,&quot;name&quot;:&quot;profilewire&quot;,&quot;locale&quot;:&quot;en&quot;},&quot;effects&quot;:{&quot;listeners&quot;:[]},&quot;serverMemo&quot;:{&quot;children&quot;:[],&quot;errors&quot;:[],&quot;htmlHash&quot;:&quot;379023a8&quot;,&quot;data&quot;:{&quot;lastname&quot;:null,&quot;firstname&quot;:null,&quot;phone_number&quot;:&quot;09053110722&quot;,&quot;btc_address&quot;:null,&quot;password&quot;:null,&quot;password_confirmation&quot;:null,&quot;email&quot;:&quot;godwinide@gmail.com&quot;,&quot;reg_id&quot;:&quot;XnwX7Eslh73M&quot;,&quot;full_name&quot;:&quot;Godwin Nicholas&quot;,&quot;sex&quot;:&quot;male&quot;,&quot;country&quot;:&quot;Nigeria&quot;,&quot;updateMode&quot;:true,&quot;passMode&quot;:false},&quot;dataMeta&quot;:[],&quot;checksum&quot;:&quot;08e8aabd1bb81535eccb8451eee550d4c41a79f5ba006995b200746fd6b54d9f&quot;}}">

<div class="container-fluid">





<div class="col-12" >
        </div>
        <div class="col-12" >
        </div>

        <div class="col-12" >
        </div>



             <div class="row">


   <div class="col-12 p-2 d-flex justify-content-between align-items-center p_header">

      <h5><img src="https://images.vexels.com/media/users/3/147102/isolated/lists/082213cb0f9eabb7e6715f59ef7d322a-instagram-profile-icon.png" width="60" height="50" ><b class="text-success"> Profile Update</b>
      </h5>
      <div>
       
        <button class="btn btn-info btn-sm roundButton" wire:click="resetpass">Reset Pass</button>
      </div>

    </div>



<form class="step_one_form col-lg-8 offset-lg-2 small bg-white mt-3 mb-3" wire:submit.prevent="updateprofile">
     <input type="hidden" name="_token" value="8CH2z1fdgYeRGZXMRUwp8ZaXNpuf4lgiuahI2RW5">

    <div class="form-group">
        <div class="row">
   

                      <div class="col-lg-6  mt-3">
                      <label>Account ID</label>
                      	<input type="text" class="form-control roundInput bg-white" readonly>
                      </div>
   <div class="col-lg-6  mt-3">
                      <label>Full Name</label>
                        <input type="text" name="full_name" class="form-control roundInput" readonly>
                                                 </div>

                       <div class="col-lg-6  mt-3">
                      <label>Email</label>
                        <input type="text" wire:model="email" class="form-control roundInput" >
                                                 </div>
                          <div class="col-lg-6  mt-3">
                      <label>Phone Number</label>
                        <input type="text" wire:model="phone_number" class="form-control roundInput" >
                                                 </div>

                          <div class="col-lg-6  mt-3">
                      <label>Sex</label>
                         <select id="sex"  class="form-control roundInput" name="sex" wire:model="sex" required autocomplete="sex" autofocus>
                                <option value="">select sex</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                </select>
                                                 </div>


                          <div class="col-lg-6  mt-3">
                      <label>Country</label>
                         <select id="country" name="country" wire:model="country" class="form-control  roundInput"  required autocomplete="username" autofocus>
   <option value="Afganistan">Afghanistan</option>
   <option value="Albania">Albania</option>
   <option value="Algeria">Algeria</option>
   <option value="American Samoa">American Samoa</option>
   <option value="Andorra">Andorra</option>
   <option value="Angola">Angola</option>
   <option value="Anguilla">Anguilla</option>
   <option value="Antigua & Barbuda">Antigua & Barbuda</option>
   <option value="Argentina">Argentina</option>
   <option value="Armenia">Armenia</option>
   <option value="Aruba">Aruba</option>
   <option value="Australia">Australia</option>
   <option value="Austria">Austria</option>
   <option value="Azerbaijan">Azerbaijan</option>
   <option value="Bahamas">Bahamas</option>
   <option value="Bahrain">Bahrain</option>
   <option value="Bangladesh">Bangladesh</option>
   <option value="Barbados">Barbados</option>
   <option value="Belarus">Belarus</option>
   <option value="Belgium">Belgium</option>
   <option value="Belize">Belize</option>
   <option value="Benin">Benin</option>
   <option value="Bermuda">Bermuda</option>
   <option value="Bhutan">Bhutan</option>
   <option value="Bolivia">Bolivia</option>
   <option value="Bonaire">Bonaire</option>
   <option value="Bosnia & Herzegovina">Bosnia & Herzegovina</option>
   <option value="Botswana">Botswana</option>
   <option value="Brazil">Brazil</option>
   <option value="British Indian Ocean Ter">British Indian Ocean Ter</option>
   <option value="Brunei">Brunei</option>
   <option value="Bulgaria">Bulgaria</option>
   <option value="Burkina Faso">Burkina Faso</option>
   <option value="Burundi">Burundi</option>
   <option value="Cambodia">Cambodia</option>
   <option value="Cameroon">Cameroon</option>
   <option value="Canada">Canada</option>
   <option value="Canary Islands">Canary Islands</option>
   <option value="Cape Verde">Cape Verde</option>
   <option value="Cayman Islands">Cayman Islands</option>
   <option value="Central African Republic">Central African Republic</option>
   <option value="Chad">Chad</option>
   <option value="Channel Islands">Channel Islands</option>
   <option value="Chile">Chile</option>
   <option value="China">China</option>
   <option value="Christmas Island">Christmas Island</option>
   <option value="Cocos Island">Cocos Island</option>
   <option value="Colombia">Colombia</option>
   <option value="Comoros">Comoros</option>
   <option value="Congo">Congo</option>
   <option value="Cook Islands">Cook Islands</option>
   <option value="Costa Rica">Costa Rica</option>
   <option value="Cote DIvoire">Cote DIvoire</option>
   <option value="Croatia">Croatia</option>
   <option value="Cuba">Cuba</option>
   <option value="Curaco">Curacao</option>
   <option value="Cyprus">Cyprus</option>
   <option value="Czech Republic">Czech Republic</option>
   <option value="Denmark">Denmark</option>
   <option value="Djibouti">Djibouti</option>
   <option value="Dominica">Dominica</option>
   <option value="Dominican Republic">Dominican Republic</option>
   <option value="East Timor">East Timor</option>
   <option value="Ecuador">Ecuador</option>
   <option value="Egypt">Egypt</option>
   <option value="El Salvador">El Salvador</option>
   <option value="Equatorial Guinea">Equatorial Guinea</option>
   <option value="Eritrea">Eritrea</option>
   <option value="Estonia">Estonia</option>
   <option value="Ethiopia">Ethiopia</option>
   <option value="Falkland Islands">Falkland Islands</option>
   <option value="Faroe Islands">Faroe Islands</option>
   <option value="Fiji">Fiji</option>
   <option value="Finland">Finland</option>
   <option value="France">France</option>
   <option value="French Guiana">French Guiana</option>
   <option value="French Polynesia">French Polynesia</option>
   <option value="French Southern Ter">French Southern Ter</option>
   <option value="Gabon">Gabon</option>
   <option value="Gambia">Gambia</option>
   <option value="Georgia">Georgia</option>
   <option value="Germany">Germany</option>
   <option value="Ghana">Ghana</option>
   <option value="Gibraltar">Gibraltar</option>
   <option value="Great Britain">Great Britain</option>
   <option value="Greece">Greece</option>
   <option value="Greenland">Greenland</option>
   <option value="Grenada">Grenada</option>
   <option value="Guadeloupe">Guadeloupe</option>
   <option value="Guam">Guam</option>
   <option value="Guatemala">Guatemala</option>
   <option value="Guinea">Guinea</option>
   <option value="Guyana">Guyana</option>
   <option value="Haiti">Haiti</option>
   <option value="Hawaii">Hawaii</option>
   <option value="Honduras">Honduras</option>
   <option value="Hong Kong">Hong Kong</option>
   <option value="Hungary">Hungary</option>
   <option value="Iceland">Iceland</option>
   <option value="Indonesia">Indonesia</option>
   <option value="India">India</option>
   <option value="Iran">Iran</option>
   <option value="Iraq">Iraq</option>
   <option value="Ireland">Ireland</option>
   <option value="Isle of Man">Isle of Man</option>
   <option value="Israel">Israel</option>
   <option value="Italy">Italy</option>
   <option value="Jamaica">Jamaica</option>
   <option value="Japan">Japan</option>
   <option value="Jordan">Jordan</option>
   <option value="Kazakhstan">Kazakhstan</option>
   <option value="Kenya">Kenya</option>
   <option value="Kiribati">Kiribati</option>
   <option value="Korea North">Korea North</option>
   <option value="Korea Sout">Korea South</option>
   <option value="Kuwait">Kuwait</option>
   <option value="Kyrgyzstan">Kyrgyzstan</option>
   <option value="Laos">Laos</option>
   <option value="Latvia">Latvia</option>
   <option value="Lebanon">Lebanon</option>
   <option value="Lesotho">Lesotho</option>
   <option value="Liberia">Liberia</option>
   <option value="Libya">Libya</option>
   <option value="Liechtenstein">Liechtenstein</option>
   <option value="Lithuania">Lithuania</option>
   <option value="Luxembourg">Luxembourg</option>
   <option value="Macau">Macau</option>
   <option value="Macedonia">Macedonia</option>
   <option value="Madagascar">Madagascar</option>
   <option value="Malaysia">Malaysia</option>
   <option value="Malawi">Malawi</option>
   <option value="Maldives">Maldives</option>
   <option value="Mali">Mali</option>
   <option value="Malta">Malta</option>
   <option value="Marshall Islands">Marshall Islands</option>
   <option value="Martinique">Martinique</option>
   <option value="Mauritania">Mauritania</option>
   <option value="Mauritius">Mauritius</option>
   <option value="Mayotte">Mayotte</option>
   <option value="Mexico">Mexico</option>
   <option value="Midway Islands">Midway Islands</option>
   <option value="Moldova">Moldova</option>
   <option value="Monaco">Monaco</option>
   <option value="Mongolia">Mongolia</option>
   <option value="Montserrat">Montserrat</option>
   <option value="Morocco">Morocco</option>
   <option value="Mozambique">Mozambique</option>
   <option value="Myanmar">Myanmar</option>
   <option value="Nambia">Nambia</option>
   <option value="Nauru">Nauru</option>
   <option value="Nepal">Nepal</option>
   <option value="Netherland Antilles">Netherland Antilles</option>
   <option value="Netherlands">Netherlands (Holland, Europe)</option>
   <option value="Nevis">Nevis</option>
   <option value="New Caledonia">New Caledonia</option>
   <option value="New Zealand">New Zealand</option>
   <option value="Nicaragua">Nicaragua</option>
   <option value="Niger">Niger</option>
   <option value="Nigeria">Nigeria</option>
   <option value="Niue">Niue</option>
   <option value="Norfolk Island">Norfolk Island</option>
   <option value="Norway">Norway</option>
   <option value="Oman">Oman</option>
   <option value="Pakistan">Pakistan</option>
   <option value="Palau Island">Palau Island</option>
   <option value="Palestine">Palestine</option>
   <option value="Panama">Panama</option>
   <option value="Papua New Guinea">Papua New Guinea</option>
   <option value="Paraguay">Paraguay</option>
   <option value="Peru">Peru</option>
   <option value="Phillipines">Philippines</option>
   <option value="Pitcairn Island">Pitcairn Island</option>
   <option value="Poland">Poland</option>
   <option value="Portugal">Portugal</option>
   <option value="Puerto Rico">Puerto Rico</option>
   <option value="Qatar">Qatar</option>
   <option value="Republic of Montenegro">Republic of Montenegro</option>
   <option value="Republic of Serbia">Republic of Serbia</option>
   <option value="Reunion">Reunion</option>
   <option value="Romania">Romania</option>
   <option value="Russia">Russia</option>
   <option value="Rwanda">Rwanda</option>
   <option value="St Barthelemy">St Barthelemy</option>
   <option value="St Eustatius">St Eustatius</option>
   <option value="St Helena">St Helena</option>
   <option value="St Kitts-Nevis">St Kitts-Nevis</option>
   <option value="St Lucia">St Lucia</option>
   <option value="St Maarten">St Maarten</option>
   <option value="St Pierre & Miquelon">St Pierre & Miquelon</option>
   <option value="St Vincent & Grenadines">St Vincent & Grenadines</option>
   <option value="Saipan">Saipan</option>
   <option value="Samoa">Samoa</option>
   <option value="Samoa American">Samoa American</option>
   <option value="San Marino">San Marino</option>
   <option value="Sao Tome & Principe">Sao Tome & Principe</option>
   <option value="Saudi Arabia">Saudi Arabia</option>
   <option value="Senegal">Senegal</option>
   <option value="Seychelles">Seychelles</option>
   <option value="Sierra Leone">Sierra Leone</option>
   <option value="Singapore">Singapore</option>
   <option value="Slovakia">Slovakia</option>
   <option value="Slovenia">Slovenia</option>
   <option value="Solomon Islands">Solomon Islands</option>
   <option value="Somalia">Somalia</option>
   <option value="South Africa">South Africa</option>
   <option value="Spain">Spain</option>
   <option value="Sri Lanka">Sri Lanka</option>
   <option value="Sudan">Sudan</option>
   <option value="Suriname">Suriname</option>
   <option value="Swaziland">Swaziland</option>
   <option value="Sweden">Sweden</option>
   <option value="Switzerland">Switzerland</option>
   <option value="Syria">Syria</option>
   <option value="Tahiti">Tahiti</option>
   <option value="Taiwan">Taiwan</option>
   <option value="Tajikistan">Tajikistan</option>
   <option value="Tanzania">Tanzania</option>
   <option value="Thailand">Thailand</option>
   <option value="Togo">Togo</option>
   <option value="Tokelau">Tokelau</option>
   <option value="Tonga">Tonga</option>
   <option value="Trinidad & Tobago">Trinidad & Tobago</option>
   <option value="Tunisia">Tunisia</option>
   <option value="Turkey">Turkey</option>
   <option value="Turkmenistan">Turkmenistan</option>
   <option value="Turks & Caicos Is">Turks & Caicos Is</option>
   <option value="Tuvalu">Tuvalu</option>
   <option value="Uganda">Uganda</option>
   <option value="United Kingdom">United Kingdom</option>
   <option value="Ukraine">Ukraine</option>
   <option value="United Arab Erimates">United Arab Emirates</option>
   <option value="United States of America">United States of America</option>
   <option value="Uraguay">Uruguay</option>
   <option value="Uzbekistan">Uzbekistan</option>
   <option value="Vanuatu">Vanuatu</option>
   <option value="Vatican City State">Vatican City State</option>
   <option value="Venezuela">Venezuela</option>
   <option value="Vietnam">Vietnam</option>
   <option value="Virgin Islands (Brit)">Virgin Islands (Brit)</option>
   <option value="Virgin Islands (USA)">Virgin Islands (USA)</option>
   <option value="Wake Island">Wake Island</option>
   <option value="Wallis & Futana Is">Wallis & Futana Is</option>
   <option value="Yemen">Yemen</option>
   <option value="Zaire">Zaire</option>
   <option value="Zambia">Zambia</option>
   <option value="Zimbabwe">Zimbabwe</option>
</select>

                               

                                                 </div>


                     





</div>


                 

                <button class="btn-sm btn-block btn-success mt-3 roundButton"> Update</button>
            
        </div>
    </div>
    


</form> 
</div>
         
</div>

</section>

 <!-- Livewire Scripts -->

<script src="/vendor/livewire/livewire.js?id=936e5d0fb0b76b631ba7" data-turbo-eval="false" data-turbolinks-eval="false"></script>
<script data-turbo-eval="false" data-turbolinks-eval="false">
    if (window.livewire) {
        console.warn('Livewire: It looks like Livewire\'s @livewireScripts JavaScript assets have already been loaded. Make sure you aren\'t loading them twice.')
    }

    window.livewire = new Livewire();
    window.livewire.devTools(true);
    window.Livewire = window.livewire;
    window.livewire_app_url = '';
    window.livewire_token = '8CH2z1fdgYeRGZXMRUwp8ZaXNpuf4lgiuahI2RW5';

    /* Make sure Livewire loads first. */
    if (window.Alpine) {
        /* Defer showing the warning so it doesn't get buried under downstream errors. */
        document.addEventListener("DOMContentLoaded", function () {
            setTimeout(function() {
                console.warn("Livewire: It looks like AlpineJS has already been loaded. Make sure Livewire\'s scripts are loaded before Alpine.\n\n Reference docs for more info: http://laravel-livewire.com/docs/alpine-js")
            })
        });
    }

    /* Make Alpine wait until Livewire is finished rendering to do its thing. */
    window.deferLoadingAlpine = function (callback) {
        window.addEventListener('livewire:load', function () {
            callback();
        });
    };

    document.addEventListener("DOMContentLoaded", function () {
        window.livewire.start();
    });
</script>            
        </div>
</section>






         
</div>

  </div>
  <!-- /.content-wrapper -->


  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-fullscreen-lg-down" role="document">
    <div class="modal-content upgrade">
      <div class="modal-header">
        <h5 class="modal-title border-0" id="exampleModalLabel" style="color: gold;">Upgrade Notice</h5>
       <button type="button" class="btn-danger close btn btn-sm " data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">OK</span>
        </button>
      </div>
      <div class="modal-body border-0 col-lg-4 offset-lg-4 bg-0 " style="padding-top: 100px; opacity: 1; ">
        <div class="text-center text-danger bolder"><h3>Please Upgrade Your Account Within 72hrs</h3></div>

         
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
 <footer class="main-footer">
    <strong class="small">
    Copyright &copy;  FXTM 2011-2021
FXTM is a registered brand name of Exinity Limited, regulated by the Financial Services Commission of Mauritius with license number C113012295.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 3.1.0
    </div>
  </footer>
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="/admins/plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="/admins/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="/admins/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- ChartJS -->
<script src="/admins/plugins/chart.js/Chart.min.js"></script>
<!-- Sparkline -->
<script src="/admins/plugins/sparklines/sparkline.js"></script>
<!-- JQVMap -->
<script src="/admins/plugins/jqvmap/jquery.vmap.min.js"></script>
<script src="/admins/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
<!-- jQuery Knob Chart -->
<script src="/admins/plugins/jquery-knob/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="/admins/plugins/moment/moment.min.js"></script>
<script src="/admins/plugins/daterangepicker/daterangepicker.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="/admins/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Summernote -->
<script src="/admins/plugins/summernote/summernote-bs4.min.js"></script>
<!-- overlayScrollbars -->
<script src="/admins/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->


<script src="/admins/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/admins/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/admins/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/admins/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/admins/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/admins/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/admins/plugins/jszip/jszip.min.js"></script>
<script src="/admins/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/admins/plugins/pdfmake/vfs_fonts.js"></script>
<script src="/admins/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/admins/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/admins/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script src="/admins/dist/js/adminlte.js"></script>
<!-- AdminLTE for demo purposes -->

<!-- AdminLTE dashboard demo (This is only for demo purposes) -->

<script src="/admins/dist/js/demo.js"></script>
<!-- custom js -->

   <script src="//code.tidio.co/rirec1wmdta2ye5iqq8ihwdpkq8inx2f.js" async></script>



<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: false,   autoDisplay:false}, 'google_translate_element');
}


</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


 <script type="text/javascript">

    $(window).on('load', function() {

      var x =  "0";
      if(x ==1)
      {
        $('#exampleModal').modal('show');
      }
    });

  
</script>


</body>
</html>
